.header-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background-color: var(--color-primary);
  transition: padding 0.8s ease, background-color 0.8s ease;
  /* padding: 1rem 2rem; */
}

.navbar {
  display: flex;
  align-items: center;
  gap: 20rem;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  justify-content: space-around;
}

.logo-link {
  display: flex;
  align-items: center;
  justify-content: left;
}

.logo-img {
  width: 60%;
  transition: width 0.8s ease;
  height: auto;
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 2rem;
  margin: 0;
  padding: 0;
}

.navbar ul li a,
.dropdown-menu {
  color: var(--color-whithe);
}

/* Remove underline from all navbar links */
.navbar ul li a,
.navbar ul li .dropdown-link,
.navbar ul li .dropdown-menu li a {
  text-decoration: none;
}

.dropdown {
  position: relative;
  color: var(--color-whithe);
  cursor: pointer;
}

.dropdown-link {
  color: var(--color-whithe);
  cursor: pointer;
}



.dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: var(--color-primary);
  color: var(--color-whithe);
  cursor: pointer;
  list-style: none;
  margin: 0;
  padding: 0.5rem 0;
  min-width: 180px;
  box-shadow: 0 2px 5px rgb(0, 0, 0, 2);
  z-index: 999;
}

.dropdown-menu li a {
  padding: 0.5rem 1rem;
  text-decoration: none;
  display: block;
}

.dropdown-menu li a:hover {
  background-color: var(--color-button-hover);
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.navbar ul li a.active,
.navbar ul li .dropdown-link.active {
  border-bottom: 2px solid var(--color-secondary);
  padding-bottom: 0.25rem;
}

.header-container.shrink {
  padding: 0.5rem 2rem;
  background-color: var(--color-primary);
}

.header-container.shrink .logo-img {
  width: 30%;
  transition: width 0.8s ease;
}

