:root {
  --color-primary: #d32f2f;
  --color-secondary: #ffffff;
  --color-text: #333333;
  --color-border: #e0e0e0;
  --color-hover: rgba(255, 255, 255, 0.1);
  --color-gray: #808080;
}

/* Estilos generales del canvas */
.canvas-asthma canvas,
.canvas-symptoms-asthma canvas,
.canvas-treatment-asthma canvas,
.canvas-precaution-asthma canvas {
  touch-action: none;
  width: 100%;
  height: 100%;
  
  
}

.canvas-container {
  position: relative;
  display: grid;
  width: 100%;
}

.canvas-content-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.move-icon-wrapper {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 10;
  color: #000000;
  font-size: 2rem;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 5px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.move-icon-wrapper h1 {
  margin: 0;
  padding: 10px;
  font-size: 1rem;
  color: #000000;
  font-weight: normal;
  
}
.move-icon-wrapper svg {
  margin: 0;
  padding: 10px;
  font-size: 2rem;
  color: #000000;
  font-weight: normal;
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
  40% {transform: translateY(-5px);}
  60% {transform: translateY(-3px);}
}
.canvas-asthma-title {
  color : var(--color-primary);
  font-weight: bold;
  margin-bottom: 0px;
  margin-top: 10px;
  text-align: center;
  font-size: 3rem;
  padding: 0 1rem;
  animation: bounce 2s infinite;
  z-index: 1;

}
/* Sección: ¿Qué es el Asma? */
.what-is-asthma-container {
  position: relative;
  display: grid;
  width: 100%;
  background-color: var(--color-primary);
  padding: 2rem 0;
}

.what-is-asthma-title {
  color: var(--color-secondary);
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
}

.what-is-asthma-text {
  color: var(--color-secondary);
  font-size: 1.2rem;
  max-width: 900px;
  margin: 0 auto;
  text-align: center;
  padding: 0 1rem;
}

/* Sección: Síntomas */
.symptoms-asthma-container {
  position: relative;
  display: grid;
  width: 100%;
  background-color: var(--color-secondary);
  padding: 2rem 0;
  
}

.symptoms-asthma-title {
  color: var(--color-primary);
  font-weight: bold;
  margin-bottom: 20px;
  text-align: left;
  padding: 0 1rem;

}

.symptoms-asthma-text {
  color: var(--color-text);
  font-size: 1.2rem;
  max-width: 500px;
  margin: 0 auto;
  text-align: left;
  padding: 0 1rem;
}

.symptoms-asthma-content-flex {
  display: flex;
  justify-content: space-around;
  align-items: left;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.symptoms-asthma-canvas-content {
  width: 600px;
  height: 600px;
  margin: 1rem;
}

/* Sección: Tratamiento */
.treatment-asthma-container {
  position: relative;
  display: grid;
  width: 100%;
  background-color: var(--color-primary);
  padding: 2rem 0;
}

.treatment-asthma-title {
  color: var(--color-secondary);
  font-weight: bold;
  margin-bottom: 20px;
  text-align: right;
  padding: 0 1rem;
}

.treatment-asthma-text {
  color: var(--color-secondary);
  font-size: 1.2rem;
  max-width: 500px;
  margin: 0 auto;
  text-align: right;
  padding: 0 1rem;
}

.treatment-asthma-content-flex {
  display: flex;
  justify-content: space-around;
  align-items: right;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.treatment-asthma-canvas-content {
  width: 400px;
  height: 600px;
  margin: 1rem;
}

/* Sección: Prevención */
.precaution-asthma-container {
  position: relative;
  display: grid;
  width: 100%;
  background-color: var(--color-secondary);
  padding: 2rem 0;
}

.precaution-asthma-title {
  color: var(--color-primary);
  font-weight: bold;
  margin-bottom: 20px;
  text-align: left;
  padding: 0 1rem;
}

.precaution-asthma-text {
  color: var(--color-text);
  font-size: 1.2rem;
  max-width: 500px;
  margin: 0 auto;
  text-align: left;
  padding: 0 1rem;
}

.precaution-asthma-content-flex {
  display: flex;
  justify-content: space-around;
  align-items: left;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.precaution-asthma-canvas-content {
  width: 600px;
  height: 600px;
  margin: 1rem;
}

/* Responsive Design */
@media (max-width: 1500px) {
  .canvas-asthma canvas {
    width: 800px;
    height: 500px;
  }
}

@media (max-width: 1024px) {
  .what-is-asthma-text {
    max-width: 80%;
  }
  
  .symptoms-asthma-text,
  .treatment-asthma-text,
  .precaution-asthma-text {
    max-width: 400px;
  }
}

@media (max-width: 768px) {
  .canvas-asthma canvas {
    width: 900px;
    height: 300px;
  }
  
  .symptoms-asthma-canvas-content,
  .treatment-asthma-canvas-content,
  .precaution-asthma-canvas-content {
    width: 400px;
    height: 400px;
    margin: 1rem auto;
  }
  
  .what-is-asthma-text,
  .symptoms-asthma-text,
  .treatment-asthma-text,
  .precaution-asthma-text {
    width: 90%;
    font-size: 1rem;
    max-width: none;
    align-items: left| ;
  }
  
  .symptoms-asthma-content-flex,
  .treatment-asthma-content-flex,
  .precaution-asthma-content-flex {
    flex-direction: column;
    align-items: left;
  }
  
  .move-icon-wrapper h1 {
    font-size: 0.5rem;
    padding: 0px;
  }
}