.text-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-treatment {
    background: none;
    box-shadow: none;
    padding: 0;
    min-width: 350px;
    text-align: center;
}

.text-treatment button {
    font-family: poppins, sans-serif;
    background-color: #d32f2f;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 30px;
    transition: background-color 0.3s;
}

.text-treatment button:hover {
    background-color: #d32f2f;
}

.info-button {
  background-color: #d32f2f;       
  color: white;                    
  font-size: 50px;                 
  border: none;
  border-radius: 10px;
  width: 60px;
  height: 60px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: transform 0.2s ease, background-color 0.3s ease;
}

.modal-overlay {
    position: top;
    margin-top: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 20;
}

.modal-content {
    margin-top: -60px;
    background-color: white;
    padding: 30px;
    border-radius: 8px;
    max-width: 500px;
    width: 80%;
    position: relative;
}

.modal-close {
    position: absolute;
    top: 10px;
}