.text-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-treatment {
  background: none;
  box-shadow: none;
  padding: 0;
  min-width: 450px;
  text-align: center;
}

.text-treatment button {
  font-size: 0.5rem;
  padding: 5px 10px !important;
  background: #cc0000;
  color: white;
  border: none;
  border-radius: 50px;
  cursor: pointer;
}

.text-treatment button:hover {
  background-color: #d32f2f;
  color: aliceblue;
}

.modal-overlay {
  position: top;
  margin-top: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 20;
}

.modal-content {
  margin-top: -30px;
  background-color: white;
  padding: 30px;
  border-radius: 8px;
  max-width: 500px;
  width: 80%;
  position: relative;
}

.modal-close {
  position: absolute;
}
