:root {
  --color-primary: #bf1534;
  --color-secundary: #d9d9d9;
  --color-text: #0d0d0d;
  --color-button-hover: #A61B34;
  --color-black: #000;
  --color-whithe: #ffff;
}

html,
body,
#root{
  margin: 0;
  padding: 0;
  width: 100%;
  user-select: none;
  overflow-x: hidden;
  font-family: "Poppins", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

h1, h2{
  font-weight: bold;
  color: var(--color-primary)
}

h3, h4{
  font-weight: semi-bold;
  color: var(--color-primary)
}

span, p{
  font-weight: normal;
  color: var(--color-text)
}

a{
  text-decoration: none;
}

li{
  list-style-type: none;
}

button{
  display: flex;
  cursor: pointer;
  outline: none;
  align-items: center;
  justify-content: center;
  background-color: var(--color-primary);
  border: none;
  width: 256px;
  height: 54px;
  padding: 1rem;
  text-align: center;
  color: var(--color-whithe);
  font-size: large;
}

button:hover{
  background-color:var(--color-button-hover);
}