:root {
  --color-primary: #bf1534;
  --color-secundary: #d9d9d9;
  --color-text: #0d0d0d;
  --color-button-hover: #A61B34;
  --color-black: #000;
  --color-whithe: #ffff;
}

html,
body,
#root{
  margin: 0;
  padding: 0;
  width: 100%;
  user-select: none;
  overflow-x: hidden;
  font-family: "Poppins", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

canvas {
  touch-action: none;
}
.canvas-container {
  width: 100%;
  height: 500px;
  margin: 2rem 0;
}