.text-container-cancer2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-symptom-cancer2 {
  background: none;
  box-shadow: none;
  padding: 0;
  min-width: 350px; 
  text-align: center;
}

.text-symptom-cancer2 button {
  font-family: poppins, sans-serif;
  background-color: #d32f2f;
  color: white;
  border: none;
  padding: 7px 17px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

.text-symptom-cancer2 button:hover {
  background-color: #b71c1c;
}

/* Estilos del modal */
.modal-overlay-cancer2 {
  position: fixed;
  margin-top: 0;

  top:0px;
  left: 0;
  right: 0;
  bottom: 100px;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.modal-content-cancer2 {
  background-color: white;
  padding: 10px;
  border-radius: 8px;
  max-width: 200px;
  width: 80%;
  position: relative;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
}

.modal-close-cancer2 {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: #555;
  padding: 5px;
}

.modal-close-cancer2:hover {
  color: #d32f2f;
}

.modal-content-cancer2 h3 {
  color: #d32f2f;
  font-size: 20px;  
  font-weight: bold;
  padding-inline: 20px; 
  line-height: 1.4;
  margin-top: 20px;
}